{% extends 'base.html.twig' %}

{% block title %}Post Lists {% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<table class="table">
    <thead>

      <tr>
        <th scope="col">ID</th>
        <th scope="col">Parte</th>
        <th scope="col">Delito</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Grupo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Zona</th>
        <th scope="col">Efectivo</th>
        <th scope="col">Actions</th>
      </tr>

    </thead>

    <tbody>

        {% for post in posts %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{post.parte}}</td>
                <td>{{post.delito}}</td>
                {# <td>{{post.fecha}}</td>
                <td>{{post.hora}}</td> #}
                <td>{{ post.fechaFormatted }}</td>
                <td>{{ post.horaFormatted }}</td>
                <td>{{post.grupo}}</td>
                <td>{{post.direccion}}</td>
                <td>{{post.zona}}</td>
                <td>{{post.efectivo}}</td>
                <td>
                    <a href="{{path('edit-post',{id: post.id})}}" class="btn btn-success">Edit</a>
                    <a href="{{path('delete-post',{id: post.id})}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </tbody>

  </table>

{% endblock %}
